input {
  width: 272px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
  padding-left: 16px;
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.64px;
}

input:active {
  border-radius: 4px;
  border: 1px solid #4e75ff;
}
input:hover {
  border-radius: 4px;
  border: 1px solid #000;
}

input:disabled {
  border-radius: 4px;
  border: 1px solid #808080;
}

button {
  width: 75px;
  height: 40px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #cfcfcf;
  color: #fff;
  margin-bottom: 32px;
  cursor: pointer;
}
button:hover {
  background: #6c8cff;
  color: #fff;
}
.timer {
  display: flex;
  gap: 24px;
}

.field {
  display: flex;
  flex-direction: column;
}

.value {
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2; /* 120% */
  letter-spacing: 1.6px;
}

.label {
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
}
