/* .form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
} */
input[type='number'] {
  width: 360px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
  padding-left: 16px;
}

input[type='number']:hover {
  border-color: rgba(46, 47, 66, 1);
}

input[type='number']:active {
  border-color: #4e75ff;
}

label {
  display: flex;
  flex-direction: column;
}

fieldset {
  display: flex;
  gap: 48px;
  width: 360px;
  height: 64px;
  stroke-width: 1px;
  stroke: #808080;
  margin-top: 30px;
}

fieldset > label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

button {
  display: flex;
  width: 360px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-color: #fff;
  border-radius: 8px;
  background: #4e75ff;
  margin-top: 24px;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  cursor: pointer;
}

button:hover {
  background: #6c8cff;
}
